# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/

# Docker
docker-compose.override.yml

# Editor / SO
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Testes
.pytest_cache/
.coverage
htmlcov/